<!-- Header Page -->
<div class="row justify-content-center top-10">
  <div class="col-md-8 col-sm-10 col-lg-10">
    <div class="card">
      <div class="card-body padding-10">
        <h4 class="text-secondary">Interviews</h4>
      </div>
    </div>
  </div>
</div>

<!-- Body Page -->
<div class="row justify-content-center top-10">
  <div class="col-md-8 col-sm-10 col-lg-10">
    <div class="card">
      <div class="card-body">
        ... Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse asperiores voluptatum ut ipsa, est magni ducimus delectus dicta neque et, ullam possimus optio molestias nostrum praesentium quidem rerum. Accusamus, ipsum.
      </div>
    </div>
  </div>
</div>