* {
  font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
select:focus,
input[type="color"]:focus,
.form-control:focus,
.uneditable-input:focus {
  border-color: #11406f !important;
  box-shadow: none;
  outline: 0 none;
}


body {
  background: rgba(0, 0, 0, 0.04);
}

.bg-dark {
  // background: #11406f !important;
  background-image: linear-gradient(to right top, #164a99, #20458e, #254084, #283c7a, #2a3770);
}

.top-10 {
  margin-top: 10px;
}

.right-10 {
  margin-right: 10px;
}

.padding-10 {
  padding: 10px;
}

.text-secondary {
  color: #11406f !important;
}